@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* Font for entire Body  */
body{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    color: rgb(13, 19, 33);
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/* Header Style  */

.header-div-container{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    max-width: 1440px;
    height: 652px;
    background-image: url("../assets/Hero-bg.png");
}

.header-div-inner{
    width: 998px;
    height: 582;
    padding-left: 221px ;
    padding-right: 221px ;
    padding-top: 26px;
    padding-bottom: 44px;
    text-align: center;
}

.header-div-inner img{
    margin-bottom: 32px;
}
.header-heading{
    text-align: center;
    font-weight: 800px;
    font-size: 48px;
    margin-bottom: 24px;
}
.header-sub{
    font-weight: 400px;
    font-size: 16px;
    margin-bottom: 24px;
}
.header-btn{
    background-color: rgb(13, 19, 33);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    padding: 21px 24px;
    font-weight: 600px;
    font-size: 20px;
    text-decoration: none;
}

/* 1st Section  */

.first-section-container{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    /* width: 1140px; */
    margin: 0px 150px 80px 150px ;
    height: 1395px;
    margin-left: 150px;

}

/* 1st Container top div  */
.div-first{
    margin-top: 80px;
    text-align: center;
    margin-left: 143px;
    margin-right: 143px;
    padding-top: 80px;
    margin-bottom: 38px;
}

.div-second{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    width: 850px;
    height: 240px;
    display: flex;
    justify-content: end;
    gap: 100px;
    align-items: center;
    margin-bottom: 32px;
    padding: 48px;
    margin-left: 97px;
    margin-right: 97px;
}

 
.section-div-first{
    width: 850px;
    height: 240px ;
    text-align: left;
}

.section-head{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.section-sub{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.btn-two{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 20px;
    font-weight: 600;
    width: 150px;
    height: 48px;
}

/* 1st Section Container Img & Text flex div  */

.div-second-second{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    width: 850px;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 49px;
    align-items: center;
    margin-bottom: 32px;
    padding: 48px;
    margin-left: 97px;
    margin-right: 97px;
}

.section-div-second{
    text-align: left;
}
.section-div-second img{
    height: 240px;
    width: 240px;
}

.first-head{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px ;
}

/* Video iframe Section CSS  */
.thrid-section{
    width: 1140px;
    height: 777px;
    margin: 88px 152px 49px 149px;
    /* background-color: bisque; */
}
.thrid-sec-top{
    width: 852px;
    margin-bottom: 48px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.thrid-p{
    font-size: 32px;
    font-weight: 800;
    margin: 24px;
}
.thrid-sub-p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}
.video-link{
    width: 1140px;
    height: 614px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    
}
.video-link iframe{
    padding: 32px 20px 32px 20px;

}

/* Target Section CSS  */

.target-container-section{
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 111px;
    height: 463px;
}

.target-top{
    width:852px ;
    /* margin-bottom: 48px; */
    text-align: center;
   margin-left: auto;
   margin-right: auto;
}
.target-top-p{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.target-top-sub{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}

.target-bottom-flex{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.target-bottom{
    width: 364px;
    /* height: 300px; */
    padding: 40px;
}
.bg-1{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.bg-2{
    border-radius: 16px;
     background: rgba(0, 76, 232, 0.05);
}

.bg-3{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.target-head-p{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
    margin-top: 24px;
}
.target-sub-p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.target-bottom a{
    color: black;
    font-size: 16px;
    font-weight: 700;
}

/* Subscribe Section  */

.sub-div-container{
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 79px;
    background-image:url("../assets/handshake.jpg");
    background-color: rgb(0,0,0,0.3);
    background-position: 50%;
    background-blend-mode: overlay;
    height: 314px;
    border-radius: 16px;
   
}
.sub-top{
    text-align: center;
    padding: 64px 48px ;
    color: rgb(255, 255, 255);
}
.sub-head{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}
.sub-sub{
    font-size: 16px;
    font-weight: 400;
    padding-left: 62px;
    padding-right: 62px;
}
.sub-bottom{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-bottom: 64px;
}
.input-sub{
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
}
.btn-sub{
    width: 120px;
    height: 58px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}

/* Footer Section  */

.footer-main{
    height: 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    width: 100%;
}

.footer-contain{
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-right: 32px;
}
.footer-left{
    font-size: 20px;
    font-weight: 600;
}

.footer-left{
    display: flex;
    gap: 24px;
}
